<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>WebApp00</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 서블릿 매핑 샘플 -->
	
<!-- 	<servlet>
		<servlet-name></servlet-name>
		<servlet-class></servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name></servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping> -->
	
	
	   <!-- Test1 → 서블릿(Servlet) 구성 ① 박민지-->
   <!-- <servlet>
      <servlet-name>test1Servlet</servlet-name>
      <servlet-class>com.test.Test1</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>test1Servlet</servlet-name>
      <url-pattern>/test1</url-pattern>
   </servlet-mapping> -->
   
   
   
   <!-- Test1 → 서블릿(Servlet) 구성 ② 선혜연 -->
   <!-- <servlet>
      <servlet-name>test1Servlet</servlet-name>
      <servlet-class>com.test.Test1</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>test1Servlet</servlet-name>
      <url-pattern>/test1</url-pattern>
   </servlet-mapping> -->
   
   
   
   <!-- Test1 → 서블릿(Servlet) 구성 ③ 심혜진 -->
   <!-- <servlet>
      <servlet-name>test1Servlet</servlet-name>
      <servlet-class>com.test.Test1</servlet-class>
      <init-param>
         <param-name>name</param-name>
         <param-value>심혜진</param-value>
      </init-param>
      <init-param>
         <param-name>age</param-name>
         <param-value>15</param-value>
      </init-param>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>test1Servlet</servlet-name>
      <url-pattern>/test1</url-pattern>
   </servlet-mapping> -->
   
   
   
   <!-- Test1 → 서블릿(Servlet) 구성 ④ -->
   <servlet>
      <servlet-name>test1Servlet</servlet-name>
      <servlet-class>com.test.Test1</servlet-class>
      <init-param>
         <param-name>name</param-name>
         <param-value>심혜진</param-value>
      </init-param>
      <init-param>
         <param-name>age</param-name>
         <param-value>15</param-value>
      </init-param>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>test1Servlet</servlet-name>
      <url-pattern>/test1</url-pattern>
   </servlet-mapping>
   
   <context-param>
      <param-name>type</param-name>
      <param-value>유머러스</param-value>
   </context-param>
   
   
   <!-- Test2 -->
   <servlet>
      <servlet-name>test2Servlet</servlet-name>
      <servlet-class>com.test.Test2</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>test2Servlet</servlet-name>
      <url-pattern>/test2</url-pattern>
   </servlet-mapping>
</web-app>